/* Fuente externa */
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Estilos Generales */
* {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  box-sizing: border-box; /* Añadido para un control más consistente del layout y que no rompa el diseño */
}

body {
  margin: 0;
  background-color: #fff; /* fondo blanco en toda la página */
  color: #212429;
}

h2 {
  padding-left: 150px; /* para que el texto se desplace hacia la derecha */
  margin-bottom: 1px;  /* espacio blanco hacia el contenido siguiente */
  font-size: 32px;    /* Tamaño de la fuente. */
  color: rgb(226, 193, 3);
}


/* ------------------------------ */
/* Estilos para el menú principal */
/* ------------------------------ */

.navprincipal {
  display: flex;
  align-items: center;
  justify-content: space-between;  /* distribuye secciones e iconos */
  position: sticky; /* Diseño sticky: la barra de navegación se mantiene visible al hacer scroll. */
  top: 0;
  padding: 10px;
  background-color: rgb(252, 239, 182); /* Recomendado: evita trasparencias si hay scroll */
  z-index: 1000;  /* Asegura que quede por encima de otros elementos */
  border-bottom: 1.7px solid rgb(19, 19, 19);
}

.secciones {
  display: flex;
  align-items: center; /* alinea los <a> y el icono verticalmente */
  gap: 40px; /* espacio uniforme entre enlaces */
}


/* Texto del menú principal que contenga "<a>" (enlaces) */
.secciones a {
  padding: 16px;
  text-decoration: none;
  color: #292121;
  font-weight: 600;
  letter-spacing: 1.7px;
  transition: color 0.7s ease;
}

nav a:hover {
  color: #be7302;
}

.iconos a {
  padding: 24px;
}

/* ----------------------------------
   ICONOS (usuario, corazón, carrito)
-------------------------------------*/
.iconos a img {
  transition: filter 0.7s ease;   /* transición para los iconos */
}

/* efecto hover (cambia de color usando filter) */
.iconos a:hover img {
  filter: brightness(0) saturate(100%) 
          invert(84%) sepia(57%) saturate(2839%) 
          hue-rotate(1deg) brightness(103%) contrast(101%);
}

/* -----------------------------------------------------
   ICONO BURGER con mismo efecto que los textos del menú
-------------------------------------------------------*/
.icono-burger img {
  transition: filter 0.7s ease;   /* transición igual que iconos */
}

.icono-burger:hover img {
  filter: brightness(0) saturate(100%) 
          invert(84%) sepia(57%) saturate(2839%) 
          hue-rotate(1deg) brightness(103%) contrast(101%);
}

/* --- Galería de productos 3x2 --- */
.galeria-productos {
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);      /* tres columnas */
  /* padding: 1rem 22rem; */                        /* Para tener más margen lateral en la izquierda y en la derecha. */
  justify-items: center;                      /* Aquí centro cada producto en su columna */
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.producto:hover {
  transform: translateY(-5px); /* Cuando pasas el ratón por la imagen, dicha imagen va hacia arriba */
}

.producto img {
  border-radius: 12px; /* Bordes redondeados completos */
}

/* --- Pie de foto: descripción y precio --- */
figcaption {
  display: flex;
  justify-content: space-between; /* texto a izquierda y derecha */
  width: 95%;           /* igual que la imagen (.producto img { width: 55%; }) */
  box-sizing: border-box; /* aseguro que el padding no sume más ancho que la imagen */
  font-size: 1.1rem;  /* aumento el tamaño de la fuente de la descripción y precio. */
  margin-top: 0.1rem; /* dejo un pequeño espacio debajo de la imagen */
  margin-left: auto;  /* con margin-left y -rihgt se quedan centrados al borde de la imagen. */
  margin-right: auto;
}

/* Descripción a la izquierda del producto */
.producto .descripcion {
  font-weight: 500; /* reduzco el borde del texto */
}

/* Precio a la derecha del producto */
.producto .precio {
  color: rgb(250, 184, 2); /* tono dorado opcional */
}

/* footer <nav> inferior*/
.pie {
  display: flex;
  justify-content: space-between;    /* Centra horizontalmente */
  align-items: center;         /* Alinea verticalmente */
  /* gap: 10px;  */                  /* Espaciado entre enlaces */
  padding: 10px 70px 10px 70px;
  font-size: 16px;
  background-color: #424242;
}

.pie a {
  display: flex;  /* Convierte el enlace en contenedor flex -> Icono + texto alineado */
  align-items: center;
  color: #ffff;
  font-weight: 400;
  letter-spacing: 1px;
  transition: color 0.4s ease;
  text-decoration: none;
}

.pie a:hover {
  color: rgb(252, 239, 182);
}

.divImagen {
  display: grid;
  place-items: center; /* centrar horizontal y vertical en una sola línea */
  border-radius: 50%; /* forma circular del fondo donde va el icono. */
  margin-right: 10px;
  width: 50px;
  height: 50px;
  background-color: rgb(252, 239, 182);
}

/* Estilo para los Iconos */
.iconopie {
  width: 20px;
  height: 20px;
}


/* Estilos para el responsive */

@media (max-width: 920px) {
  .icono-burger {
    margin: 0 auto;
  }

  .secciones {
    display: none;
  }

  .iconos {
    display: none;
  }

  .galeria-productos {
    grid-template-columns: repeat(1, 1fr);
  }

  .pie {
    flex-direction: column;
    gap: 32px;
  }

  .pie a {
    padding-bottom: 16px;
    border-bottom: 1px solid #ffff;
  }
}


/* Efecto suave de desplazamiento entre secciones */
html {
  scroll-behavior: smooth;
}